/* mobile */
@media only screen and (min-width: 480px) and (max-width:1024) {
    .article{
        height: 400vh;
        width: 100%;
        justify-content: start;
        flex-direction: column;

    }
}

