<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Sobre mi</title>
</head>
<body>
    <header class="header">
        <nav class="header__navegation">
            <ul class="header__navegation">
                <li class="header__item"><a href="../index.html">Inicio</a></li>
                <li class="header__item"><a href="./project.html">Proyectos</a></li>
                <li class="header__item"><a href="./contact.html">Contacto</a></li>
                
            </ul>
            
        </nav>
        <hr>
        <br>
        <h1 class="header__title">Sobre mí</h1>
        <br>
    </header>
    <main>
        <section id="grid">
            <article>
                <div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veritatis veniam quae aliquid consectetur repellendus quis nobis autem aliquam ab facere maiores alias pariatur ipsa dolores, omnis quos placeat consequuntur sint maxime? Optio labore accusamus asperiores iusto quos voluptate perspiciatis in veniam neque earum beatae nostrum, itaque voluptates ipsa inventore?</h3>
                </div>
            </article>
            <article>
                <div>
                    <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam dignissimos velit doloribus. Dolor ad amet deleniti recusandae alias reiciendis quisquam voluptatem nostrum eaque?</h5>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div>

            <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, pariatur.</h5>
        </div>
    </footer>
</body>
</html>