<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <title>Sobre mi</title>
</head>
<body>
    <header>
        <h1>Sobre mí</h1>
        <h2>Ir a</h2>
        
        <nav>
            <ul>
                <li><a href="C:\Users\Matias\Downloads\Desktop\wireframe\root\index.html">Inicio</a></li>
                <li>Sobre mí</li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./project.html">Proyectos</a></li>
                <li><a href="./contact.html">Contacto</a></li>
                <li><a href="https://www.google.com" target="_blank">Ir a otro sitio</a></li>
                
            </ul>

        </nav>
    </header>
    <main>
        <section>
            <article>
                <div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veritatis veniam quae aliquid consectetur repellendus quis nobis autem aliquam ab facere maiores alias pariatur ipsa dolores, omnis quos placeat consequuntur sint maxime? Optio labore accusamus asperiores iusto quos voluptate perspiciatis in veniam neque earum beatae nostrum, itaque voluptates ipsa inventore?</h3>

                </div>
                <div>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis possimus eos, corrupti alias nesciunt error quasi dolorem quos, accusantium perspiciatis dicta. Impedit doloremque nostrum quae eius id corrupti, aspernatur magni quis quaerat quo repellat aperiam neque mollitia, quam fugit aliquam ab porro cupiditate ut animi quod iste! Ut obcaecati eius est. Non quas ullam necessitatibus officia perferendis sunt amet magni?</h4>

                </div>
                
            </article>
        </section>
    </main>
    <footer>
        <div>

            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae expedita cum fugit ab aperiam quia eos! Cumque, doloremque pariatur adipisci perferendis tempore velit voluptatum vitae repudiandae rerum dolorum cum dicta libero soluta natus! Assumenda, excepturi quod eum ullam numquam autem nisi dolor placeat asperiores. Impedit voluptatem quas voluptas ad error!</h5>
        </div>
        <div>
            <img src="../assets/istockphoto-583816756-170667a.jpg" alt="Fondo negro">
        </div>
    </footer>
</body>
</html>