<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <title>Blog</title>
</head>
<body>
    <header>
        <h1>Mi blog</h1>
        <h2>Ir a</h2>
        <nav>
            <ul>
                <li><a href="C:\Users\Matias\Downloads\Desktop\wireframe\root\index.html">Inicio</a></li>
                <li><a href="./about.html">Sobre mi</a></li>
                <li><a href="./project.html">Proyectos</a></li>
                <li><a href="./contact.html">Contacto</a>
                
                
            </ul>

        </nav>
    </header>
    <main>
        <section>
            <article>
                <div>

                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint aliquam tempora facere quae nihil error ab officia quos distinctio earum expedita excepturi, eaque praesentium natus vel doloremque cumque repudiandae culpa.</h3>
                </div>
                <div>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis fugiat voluptatibus tempora molestiae quia et, consequuntur quo ut maiores officiis eaque! Optio commodi a perspiciatis! Consectetur officiis dicta itaque fuga perspiciatis voluptatem reprehenderit aspernatur dolore exercitationem est natus harum veritatis, atque possimus numquam neque iure omnis architecto? Repudiandae culpa sed impedit perspiciatis, similique tempora, hic, commodi alias incidunt ullam placeat.</h4>
                </div>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ad totam modi adipisci officiis nihil aperiam error mollitia iste blanditiis eveniet id amet animi nam, commodi doloremque voluptate ex rerum corrupti ipsam sunt in alias voluptatum? Rerum eos atque commodi! Sit explicabo deleniti tempore mollitia quis beatae aliquid sunt iusto enim excepturi doloremque dolor eos totam minus ipsum iure perferendis repellat, hic doloribus, tempora quidem reiciendis inventore sequi. Corporis, voluptate? Itaque cupiditate quae laborum cumque asperiores quod, quidem ipsum doloremque.
                </div>

            </article>
        </section>
    </main>
    <footer>
        

    </footer>
</body>
</html>