<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="/css-compilator/main.css">
    <title>Contacto</title>
</head>
<body>
    <header>
        <h1>Contacto</h1>
        <h2>Ir a</h2>
        <nav>
            <ul>
                <li><a href="C:\Users\Matias\Downloads\Desktop\wireframe\root\index.html">Inicio</a></li>
                <li><a href="./about.html">Sobre mi</a></li>
                <li><a href="./project.html">Proyectos</a></li>
                
                
            </ul>

        </nav>
    </header>
    <main>
        <section>
            <article>
                <div>

                    <form action=""></form>
                    <label for="nombre">Introduce un nombre:</label>
                    <input type="text" placeholder="Nombre"><br>
                    <label for="email">Introduce un email:</label>
                    <input type="email" placeholder="Email"><br>
                    <label for="age">Introduzca su edad:</label>
                    <input type="number" placeholder="Edad"><br>
                </div>
                <div>
                    <p>Identifique su sexo:</p>
                    <select name="sexo" id="sexo"> 
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                        <option value="otro">Otro</option>
                    </select>
                </div>
                <div>
                    ¿Esta interesado en conocernos?
				<input type="checkbox" name="acepta" value="1"></div>
                <p>Ingrese su mensaje</p>
                <textarea name="userText" id="userText" cols="30" rows="10"></textarea> 
				<input type="submit" value="Enviar informacion">
				
                </div>
                
                    
            </article>
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>