<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="/css-compilator/main.css">
    <title>Proyectos</title>
</head>
<body>
    <header>
        <h1>Proyectos</h1>
        <h2>Coming soon....</h2>
        <h2>Ir a</h2>
        <nav>
            <ul>
                <ul>
                    <li><a href="C:\Users\Matias\Downloads\Desktop\wireframe\root\index.html">Inicio</a></li>
                <li><a href="./about.html">Sobre mi</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contacto</a></li>
                
            </ul>

        </nav>
    </header>
    <main>
        <section>
            <article>

            </article>
        </section>
    </main>
    <footer>
        <img src="../assets/istockphoto-583816756-170667a.jpg" alt="Fondo negro">

    </footer>
</body>
</html>