<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="/css-compilator/main.css">
    <title>Proyectos</title>
</head>
<body>
        <h1>Coming soon....</h1>

        <div class="d-flex p-2 bd-highlight justify-content-center">
                

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="../index.html" role="tab" aria-controls="pills-home" aria-selected="true">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="/root/views/" role="tab" aria-controls="pills-profile" aria-selected="false">Sobre mi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-contact-tab dark" data-toggle="pill" href="/root/views/contact.html" role="tab" aria-controls="pills-contact" aria-selected="false">Contacto</a>
                </li>
              </ul>
        </div>
      </div>                
       
</body>
</html>