* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body{
	overflow-x: hidden;
    background-color: black;
    color: white;
    
}

html{
	font-size: 0.99rem;
}

.header {
    padding: 1rem;
    margin: 1rem;

}

.header__title {
    text-align: center;
    text-decoration: underline;
    font-style: normal;
    font-family: serif;
    font-size: 2.3rem;
    color: gray;
}

.header__navegation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: normal;
    font-size: 1.2rem;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    line-height: 60px;

}

.header__item {
   
    padding: 20px 30px;
    top: 0px;
    margin: 0.5rem;
   
}

#grid {
    height: 180vh;
    display: grid;
    grid-template-areas: 
    "section"
    "footer";
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

section{
    grid-area: section;
}

.article {

    display: flex;
    flex-direction: row;
    color: pink;
    font-family: sans-serif;
    font-style: oblique;
    line-height: 30px;
    padding: 5rem;
    

}
 
/* .article__img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
    margin: 3.5rem;
}
 */

.footer {
    height: 80vh;
    
}

.footer__text {
    text-align: center;
    text-decoration: underline;
    font-style: normal;
    font-size: 1rem;
    color:darkslateblue;
    padding: 20px;
    
}

.footer__img {
    display: flex;
    flex-direction: row;
    background-image: url(../assets/istockphoto-583816756-170667a.jpg);
    background-repeat: repeat-x;
    height: 80vh;
    padding: 80px;
    margin-top: 60px;
    
}

/* Celular */

@media only screen and (max-width: 480px) {

    .header__navegation {

        flex-direction: column;
    
    
    }

    .article {
        height: 300vh;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-items: center;
        align-items: flex-end;
        font-size: small;
    }



    section {

        overflow: hidden;
    }

    #grid {
        display: grid;
        grid-template-rows: auto 2fr auto;
        grid-row-gap: 34px;
    }


    .footer__img {

        flex-direction: column;
   
    }


}

/* Tablet */

@media only screen and (min-width: 481px) and (max-width: 1023px) {

    .header__navegation {

        flex-direction: column;
     

    }

    #grid {
        display: grid;
        grid-template-rows: auto 2fr auto;
        grid-row-gap: 34px;
    }

    

    section {
        
        overflow: hidden;
    }

    .article {
        height: 300vh;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-items: center;
        align-items: flex-end;
        font-size: small;
    }
  
    .footer__img {
       
    }

}

/* Desktop */

@media only screen and (min-width: 1024px) {

    .header__navegation {

        flex-direction: row;

    
    }

    section {
        overflow: hidden;
    }
  



}